.btn-custom {
    background-image: linear-gradient(to right,rgb(63, 255, 56), rgb(3, 179, 179)) !important;
}

html, body {
    height: 100%;
}

.form-message{
    font-family: Roboto-serif;
    text-shadow: -4px 4px 2px rgb(138, 138, 138);
}

.word-shadows{
    text-shadow: -10px 4px 5px rgb(190, 189, 189);
}

.bottom-text {
    position:absolute;
    align-items:flex-end;
    bottom: 10%;
}

.bottom-text-name {
    position:absolute;
    bottom: 5%;
}

.card-img-overlay {
    z-index: 1;
}

.card-body {
    z-index: 2;
    position: relative;
}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ddd;
}

.divider::before {
    margin-right: .25em;
}

.divider::after {
    margin-left: .25em;
}

.social-button img {
    width: 20px;
    height: 20px;
}

.abril-fatface-regular {
    font-family: "Abril Fatface", serif;
    font-weight: 400;
    font-style: normal;
}


.animate-on-hover:hover {
    animation: pulse 1s both;
}

.bi-eye-fill {
    position: absolute;
    margin-top: 10px;
    right: 13px;
    cursor: pointer;
    color: gray;
}

.error-text {
    color: red;
    font-size: 0.9em;
}

.end-form {
    color: gray;
}

.btn-close {
    transition-property: background-color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.btn-close:hover {
    background-color: rgb(43, 28, 109);
}

.effect:hover {
    color:blue;
}
