#image-container {
    margin-top: 12em;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 10px;
}

#image-container img {
    flex: 1 1 200px;
    width: 340px;
    min-height: 400px;
    object-fit: cover;
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    margin-top: 3px;
}

#image-container img:hover {
    transform: scale(1.05);
}


